ESP32-Dersleri/Besinci-Ders/NodeRedExport.txt
[
    {
        "id": "7b166823831e94b9",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f7e79705cbc1398",
        "type": "mqtt out",
        "z": "7b166823831e94b9",
        "name": "",
        "topic": "esp/out",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c1a216d505b39d9",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "905c48dfcd65dba5",
        "type": "mqtt in",
        "z": "7b166823831e94b9",
        "name": "",
        "topic": "esp/in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c1a216d505b39d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "f1dcf1587d58decc",
                "2dc85ab94cb27019",
                "32b342eb460a71a0",
                "2bdd700e53c430f5"
            ]
        ]
    },
    {
        "id": "f1dcf1587d58decc",
        "type": "ui_chart",
        "z": "7b166823831e94b9",
        "name": "",
        "group": "a3fd5844853ee978",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 330,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2dc85ab94cb27019",
        "type": "ui_gauge",
        "z": "7b166823831e94b9",
        "name": "",
        "group": "a3fd5844853ee978",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "7c4cfd6af9a047fc",
        "type": "ui_switch",
        "z": "7b166823831e94b9",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a3fd5844853ee978",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "2f7e79705cbc1398"
            ]
        ]
    },
    {
        "id": "32b342eb460a71a0",
        "type": "file",
        "z": "7b166823831e94b9",
        "name": "",
        "filename": "C:\\Users\\Lenovo\\Desktop\\Bedirhan\\ESP32-Dersleri\\Dördüncü Ders\\veriler.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 550,
        "y": 380,
        "wires": [
            [
                "85dd8dd520411254"
            ]
        ]
    },
    {
        "id": "85dd8dd520411254",
        "type": "debug",
        "z": "7b166823831e94b9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "2bdd700e53c430f5",
        "type": "function",
        "z": "7b166823831e94b9",
        "name": "function 2",
        "func": "msg.payload = [msg.payload];\nmsg.topic = \"INSERT INTO noderedveriler (veriler) VALUES (?);\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "d559938086652c6a"
            ]
        ]
    },
    {
        "id": "d559938086652c6a",
        "type": "mysql",
        "z": "7b166823831e94b9",
        "mydb": "29994912a1f6b66e",
        "name": "espwebveritabani",
        "x": 530,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4c1a216d505b39d9",
        "type": "mqtt-broker",
        "name": "MosquittoLocal",
        "broker": "192.168.1.111",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a3fd5844853ee978",
        "type": "ui_group",
        "name": "Default",
        "tab": "38b4d82e7fbd2cf0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29994912a1f6b66e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "espwebveritabani",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "38b4d82e7fbd2cf0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]